<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Joel Jasper A</md-card-title>
          <md-card-subtitle>Symposium Co-ordinator</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <a md-button href="mailto:iamjoel1996@gmail.com">MAIL</a>
          <a md-button href="tel:+919944007900">CALL</a>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Raghavi N</md-card-title>
          <md-card-subtitle>Symposium Co-ordinator</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <a md-button href="mailto:raghavi6997@gmail.com">MAIL</a>
          <a md-button href="tel:+91893943113">CALL</a>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Subathra Srinivas</md-card-title>
          <md-card-subtitle>Symposium Co-ordinator</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <a md-button href="mailto:subathrasrinivas5@gmail.com">MAIL</a>
          <a md-button href="tel:+919940091599">CALL</a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Udhaya Kumar E</md-card-title>
          <md-card-subtitle>Symposium Co-ordinator</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <a md-button href="mailto:udhayakumarkz530@gmail.com">MAIL</a>
          <a md-button href="tel:+918110876877">CALL</a>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Vijay Aditya G V</md-card-title>
          <md-card-subtitle>Symposium Co-ordinator</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <a md-button href="mailto:athithavijay@gmail.com">MAIL</a>
          <a md-button href="tel:+919626580963">CALL</a>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Vaishnavi P</md-card-title>
          <md-card-subtitle>Symposium Co-ordinator</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <a md-button href="mailto:vaishnaviparameswaran.16@gmail.com">MAIL</a>
          <a md-button href="tel:+919585869955">CALL</a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>