<div class="container">

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title><md-chip-list><md-chip color="primary" selected="true">{{data[0].name}}</md-chip></md-chip-list></md-card-title>
          <!-- <md-card-subtitle>{{data[0].type}}</md-card-subtitle> -->
        </md-card-header>
        <img md-card-image src="/images/photo.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[0].id)" *ngIf="!nteventsRegistered.e31">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[0].id)" *ngIf="nteventsRegistered.e31">CANCEL</button>
          <button md-button (click)="openDialog(data[0].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title><md-chip-list><md-chip color="primary" selected="true">{{data[1].name}}</md-chip></md-chip-list></md-card-title>
          <!-- <md-card-subtitle>{{data[1].type}}</md-card-subtitle> -->
        </md-card-header>
        <img md-card-image src="/images/connex.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[1].id)" *ngIf="!nteventsRegistered.e32">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[1].id)" *ngIf="nteventsRegistered.e32">CANCEL</button>
          <button md-button (click)="openDialog(data[1].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title><md-chip-list><md-chip color="primary" selected="true">{{data[2].name}}</md-chip></md-chip-list></md-card-title>
          <!-- <md-card-subtitle>{{data[2].type}}</md-card-subtitle> -->
        </md-card-header>
        <img md-card-image src="/images/meme.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[2].id)" *ngIf="!nteventsRegistered.e33">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[2].id)" *ngIf="nteventsRegistered.e33">CANCEL</button>
          <button md-button (click)="openDialog(data[2].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title><md-chip-list><md-chip color="primary" selected="true">{{data[3].name}}</md-chip></md-chip-list></md-card-title>
          <!-- <md-card-subtitle>{{data[3].type}}</md-card-subtitle> -->
        </md-card-header>
        <img md-card-image src="/images/gaming.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[3].id)" *ngIf="!nteventsRegistered.e34">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[3].id)" *ngIf="nteventsRegistered.e34">CANCEL</button>
          <button md-button (click)="openDialog(data[3].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title><md-chip-list><md-chip color="primary" selected="true">{{data[4].name}}</md-chip></md-chip-list></md-card-title>
          <!-- <md-card-subtitle>{{data[4].type}}</md-card-subtitle> -->
        </md-card-header>
        <img md-card-image src="/images/pictionary.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[4].id)" *ngIf="!nteventsRegistered.e35">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[4].id)" *ngIf="nteventsRegistered.e35">CANCEL</button>
          <button md-button (click)="openDialog(data[4].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title><md-chip-list><md-chip color="primary" selected="true">{{data[5].name}}</md-chip></md-chip-list></md-card-title>
          <!-- <md-card-subtitle>{{data[5].type}}</md-card-subtitle> -->
        </md-card-header>
        <img md-card-image src="/images/surprise.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[5].id)" *ngIf="!nteventsRegistered.e36">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[5].id)" *ngIf="nteventsRegistered.e36">CANCEL</button>
          <button md-button (click)="openDialog(data[5].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>