
   .home {
  background: url("/images/logo.jpg") 50% 0 repeat;
  min-height: 650px;     
   }
   .sponsors {  
     overflow: hidden;
     height: 300px;
     background-color: #8d8d8d;
   }
   .uniq { 
     height: 300px;
     background-color: #dddddd;
   }

   .card {
     margin-top: 70px;
     margin: 5vw;
   }

   .header {
     padding-top: 50px;
     padding-bottom: 20px;
     text-align: center;
     color: #484848;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 2rem;
     letter-spacing: 10px;
   }

   .uniq-container {
     padding-top: 50px;
   }

   .fab {
     position: relative;
     left: 50%;
     transform: translate(-50%, 0);
   }

   .footer {
     padding: 30px;
   }

   #dark {
     color: #2d2d2d;
   }

   .tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url("/images/sponsor.jpg");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

#main {
  font-weight: bold;
  color: #222222;
}

agm-map {
  margin: 2vw;
  height: 300px;
}

.contact {
  height: 500px;
     background-color: #dddddd;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-line {
  color:rgba(0, 0, 0, 0.54)
}

.mat-list {
  margin-left: 25%;
}
