<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
<section id="home" data-type="background" data-speed="10" class="pages">
    <article><h3 id="strip">Department of Computer Science and Engineering of VEC <br>proudly presents <br>
        <label id="heading">OZmenta 2K17</label></h3>
    </article>
</section>

<section id="about" data-type="background" data-speed="10" class="pages">
    <article><h3>List of Events</h3></article>
</section>

<section id="sponsors" data-type="background" data-speed="10" class="pages">
    <article><h3>List of sponsors</h3></article>
</section>
</body>
</html>