 <!-- <div id="home" >
    <article><h3 id="strip">Department of Computer Science and Engineering of VEC <br>proudly presents <br>
        <label id="heading">OZmenta 2K17</label></h3>
    </article>
</div>
 <div id="about">
    <article><h3>Uniq Technologies</h3></article>
</div> 
<div id="sponsors">
    <article><h3>Our Sponsors</h3></article>
 </div>  -->

 <div class="home">
     <div class="header" id="main">NATIONAL LEVEL TECHNICAL SYMPOSIUM</div>
 </div>

<div class="uniq">
    <div class="header">UNIQ TECHNOLOGIES</div>
    <div fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxFlexs class="uniq-container">   
    <div fxFlex>
    <a class="fab" md-fab href="http://inplanttraininginchennai.org.in/"  mdTooltip="Implant Training" [mdTooltipPosition]="'below'"><md-icon>domain</md-icon></a>
    </div>
<div fxFlex>
    <a class="fab" md-fab href="http://www.internshipinchennai.com/"  mdTooltip="Internship" [mdTooltipPosition]="'below'"><md-icon>fitness_center</md-icon></a>
</div>
<div fxFlex>
    <a class="fab" md-fab href="http://www.ieeefinalyearprojects.org/"  mdTooltip="IEEE Projects" [mdTooltipPosition]="'below'"><md-icon>local_library</md-icon></a>
</div>
<div fxFlex>
    <a class="fab" md-fab href="http://www.androidtraininginchennai.com/"  mdTooltip="Android Training" [mdTooltipPosition]="'below'"><md-icon>adb</md-icon></a>
    </div>
</div>
<div class="footer">
    <a class="fab" md-fab href="https://facebook.com/uniqtechnologies/"  mdTooltip="Follow us on facebook" [mdTooltipPosition]="'below'">
        <md-icon svgIcon="fb"></md-icon>
    </a>
</div>
</div>
 <div class="sponsors">
     <div class="header" id="dark">SPONSORS</div>
     <div class="tech-slideshow">
        <div class="mover-1"></div>
        <div class="mover-2"></div>
    </div>
</div>