  /* #home {
  background: url("/images/image.jpeg") 50% 0 repeat fixed; min-height: 700px;
  height: 700px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#home article {
  font-family: Helvetica;
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;

}

 #about {
  background: url("/images/gaming.jpg") 50% 0 repeat fixed; min-height: 700px;
  height: 700px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about article {
  font-family: Helvetica;
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
} 

#heading{
font-size: xx-large;
}

#sponsors {
  background-color: white;
  background: url("/images/image.jpeg") 50% 0 repeat fixed; min-height: 500px;
  height: 500px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#sponsors article {
  font-family: Helvetica;
  height: 258px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
   */

   .home {
  background-image: url("/images/logo.jpg");
  min-height: 650px;     
   }
   .sponsors {
  background-image: url("/images/image.jpeg");     
     height: 500px;
   }
   .uniq {
  background-image: url("/images/image.jpeg");     
     height: 500px;
   }

   .card {
     margin: 5vw;
   }