  /* #home {
  background: url("/images/image.jpeg") 50% 0 repeat fixed; min-height: 700px;
  height: 700px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#home article {
  font-family: Helvetica;
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;

}

 #about {
  background: url("/images/gaming.jpg") 50% 0 repeat fixed; min-height: 700px;
  height: 700px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about article {
  font-family: Helvetica;
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
} 

#heading{
font-size: xx-large;
}

#sponsors {
  background-color: white;
  background: url("/images/image.jpeg") 50% 0 repeat fixed; min-height: 500px;
  height: 500px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#sponsors article {
  font-family: Helvetica;
  height: 258px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
   */

   .home {
  background: url("/images/logo.jpg") 50% 0 repeat;
  min-height: 650px;     
   }
   .sponsors {  
     overflow: hidden;
     height: 300px;
     background-color: #8d8d8d;
   }
   .uniq { 
     height: 300px;
     background-color: #dddddd;
   }

   .card {
     margin-top: 70px;
     margin: 5vw;
   }

   ul {
     margin-bottom: 50px;
     position: absolute;
     left: 50%;
     transform: translate(-50%, 0);
     display: flex;
   }

   ul li {
     list-style: none;
     color: #484848;
     font-family: Arial, Helvetica, sans-serif;
     font-size: x-large;
     letter-spacing: 15px;
     animation: animate 1.4s linear infinite;
   }
   
   @keyframes animate {
     0% {
       color: #484848;
       text-shadow: none;
     }

     90% {
       color: #484848;
       text-shadow: none;
     }

     100% {
       color: #fff900;
       text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
     }
   }

   ul li:nth-child(1) {
     animation-delay: 0.2s;
   }

   ul li:nth-child(2) {
     animation-delay: 0.4s;
   }

   ul li:nth-child(3) {
     animation-delay: 0.6s;
   }

   ul li:nth-child(4) {
     animation-delay: 0.8s;
   }

   ul li:nth-child(5) {
     animation-delay: 1s;
   }

   ul li:nth-child(6) {
     animation-delay: 1.2s;
   }

   ul li:nth-child(7) {
     animation-delay: 1.4s;
   }

   ul li:nth-child(8) {
     animation-delay: 1.6s;
   }

   .break {
     padding-right: 20px;
   }

   .header {
     padding-top: 50px;
     text-align: center;
     color: #484848;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 2rem;
     letter-spacing: 10px;
   }

   .uniq-container {
     padding-top: 50px;
   }

   .fab {
     position: relative;
     left: 50%;
     transform: translate(-50%, 0);
   }

   .footer {
     padding: 30px;
   }

   #dark {
     color: #2d2d2d;
   }

   .tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(/images/SPONSOR.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}