<div class="container">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
   <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
    <md-input-container class="app-half-width">
      <input mdInput placeholder="First Name" formControlName="fName">
      <md-hint class="app-alert" *ngIf="!rForm.controls['fName'].valid && rForm.controls['fName'].touched">This field is required</md-hint>
    </md-input-container>
    </div>
    <div fxFlex>
    <md-input-container class="app-half-width">
      <input mdInput placeholder="Last Name" formControlName="lName">
      <md-hint class="app-alert" *ngIf="!rForm.controls['lName'].valid && rForm.controls['lName'].touched">This field is required</md-hint>
    </md-input-container>
    </div>
   </div>
    <md-input-container class="app-full-width">
      <input mdInput placeholder="College Name" formControlName="cName">
      <md-hint class="app-alert" *ngIf="!rForm.controls['cName'].valid && rForm.controls['cName'].touched">This field is required</md-hint>
    </md-input-container>
     <md-input-container class="app-full-width">
  <input mdInput placeholder="Degree" [mdAutocomplete]="auto2" formControlName="degree">
</md-input-container>

<md-autocomplete #auto2="mdAutocomplete">
  <md-option *ngFor="let degree of degrees" [value]="degree.value">
    {{degree.viewValue}}
  </md-option>
</md-autocomplete>
      <md-hint class="app-alert" *ngIf="!rForm.controls['degree'].valid && rForm.controls['degree'].touched">This field is required</md-hint> 
     <md-input-container class="app-full-width">
  <input mdInput placeholder="Department" [mdAutocomplete]="auto" formControlName="dept">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let department of departments" [value]="department.value">
    {{department.viewValue}}
  </md-option>
</md-autocomplete>
      <md-hint class="app-alert" *ngIf="!rForm.controls['dept'].valid && rForm.controls['dept'].touched">This field is required</md-hint> 
     <md-input-container class="app-full-width">
  <input mdInput placeholder="Year" [mdAutocomplete]="auto3" formControlName="year">
</md-input-container>

<md-autocomplete #auto3="mdAutocomplete">
  <md-option *ngFor="let year of years" [value]="year.value">
    {{year.viewValue}}
  </md-option>
</md-autocomplete>
      <md-hint class="app-alert" *ngIf="!rForm.controls['year'].valid && rForm.controls['year'].touched">This field is required</md-hint> 
    <md-input-container class="app-full-width">
      <input type="email" mdInput placeholder="Email" formControlName="email">
      <md-hint class="app-alert" *ngIf="(rForm.controls['email'].pristine || !rForm.controls['email'].value ) && rForm.controls['email'].touched">This field is required</md-hint>
      <md-hint class="app-alert" *ngIf="!rForm.controls['email'].pristine && !rForm.controls['email'].value && rForm.controls['email'].touched && !rForm.controls['email'].valid">Invalid Email Address</md-hint>
    </md-input-container>
    <br>
    <md-input-container class="app-full-width">
      <input mdInput #phno placeholder="Mobile Number" formControlName="phno">
      <md-hint align="end">{{phno.value.length}} / 10</md-hint>
      <md-hint class="app-alert" *ngIf="!rForm.controls['phno'].valid && rForm.controls['phno'].touched">This field is required</md-hint>
    </md-input-container>
    <md-input-container class="app-full-width">
      <input type="password" mdInput placeholder="Password" formControlName="password">
      <md-hint class="app-alert" *ngIf="(rForm.controls['password'].pristine || rForm.controls['password'].value == '') && rForm.controls['password'].touched">This field is required</md-hint>
    </md-input-container>
    <br>
    <br>
    <button type="submit" md-raised-button color="primary" [disabled]="!rForm.valid">Submit</button>
  </form>
</div>