<md-grid-list cols="2" rowHeight="1:1">
  <md-grid-tile>
    <md-card class="card">
      <md-card-header>
        <div md-card-avatar class="header-image"></div>
        <md-card-title>Paper Presentation</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="/images/joel.jpg">
      <md-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde nostrum possimus facere labore recusandae iste,
          itaque quod nisi harum libero quae dolore, quos dolores necessitatibus reiciendis, inventore quaerat beatae fugiat
          blanditiis.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>REGISTER</button>
        <button md-button>MORE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card class="card">
      <md-card-header>
        <div md-card-avatar class="header-image"></div>
        <md-card-title>Paper Presentation</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="/images/joel.jpg">
      <md-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde nostrum possimus facere labore recusandae iste,
          itaque quod nisi harum libero quae dolore, quos dolores necessitatibus reiciendis, inventore quaerat beatae fugiat
          blanditiis.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>REGISTER</button>
        <button md-button>MORE</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>