<h1 md-dialog-title *ngIf="isLoggedIn">Confirmation</h1>
<div md-dialog-content *ngIf="isLoggedIn">Please confirm that you want to cancel the registration to this event</div>
<div md-dialog-actions *ngIf="isLoggedIn">
  <button md-button md-dialog-close="confirm">Yes</button>
  <button md-button md-dialog-close="cancel">No</button>
</div>
<h1 md-dialog-title *ngIf="!isLoggedIn">Validation</h1>
<div md-dialog-content *ngIf="!isLoggedIn">Please login to perform this action</div>
<div md-dialog-actions *ngIf="!isLoggedIn">
  <button md-button md-dialog-close="ok">OK</button>
</div>