<div class="container">

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>{{data[0].name}}</md-card-title>
          <md-card-subtitle>{{data[0].type}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/ws.jpg">
        <md-card-actions>
          <a md-button [routerLink]="['/workshops']">MORE</a>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>{{data[1].name}}</md-card-title>
          <md-card-subtitle>{{data[1].type}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/ctc.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[1].id)" *ngIf="!nteventsRegistered.e22">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[1].id)" *ngIf="nteventsRegistered.e22">CANCEL</button>
          <button md-button (click)="openDialog(data[1].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>{{data[2].name}}</md-card-title>
          <md-card-subtitle>{{data[2].type}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/debugging.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[2].id)" *ngIf="!nteventsRegistered.e23">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[2].id)" *ngIf="nteventsRegistered.e23">CANCEL</button>
          <button md-button (click)="openDialog(data[2].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>{{data[3].name}}</md-card-title>
          <md-card-subtitle>{{data[3].type}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/ppt.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[3].id)" *ngIf="!nteventsRegistered.e24">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[3].id)" *ngIf="nteventsRegistered.e24">CANCEL</button>
          <button md-button (click)="openDialog(data[3].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>{{data[4].name}}</md-card-title>
          <md-card-subtitle>{{data[4].type}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/ctf.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[4].id)" *ngIf="!nteventsRegistered.e25">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[4].id)" *ngIf="nteventsRegistered.e25">CANCEL</button>
          <button md-button (click)="openDialog(data[4].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>{{data[5].name}}</md-card-title>
          <md-card-subtitle>{{data[5].type}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/mamu.jpg">
        <md-card-actions>
          <button md-button (click)="openConfirmation(data[5].id)" *ngIf="!nteventsRegistered.e26">REGISTER</button>
          <button md-button (click)="cancelRegistration(data[5].id)" *ngIf="nteventsRegistered.e26">CANCEL</button>
          <button md-button (click)="openDialog(data[5].description)">MORE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>