<div class="container">

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Techie Raft</md-card-title>
          <md-card-subtitle>Complete the Code</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/tevents.jpg">
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde nostrum possimus facere labore recusandae iste,
            itaque quod nisi harum libero quae dolore, quos dolores necessitatibus reiciendis, inventore quaerat beatae fugiat
            blanditiis.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>REGISTER</button>
          <button md-button>MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Bug Wizard</md-card-title>
          <md-card-subtitle>Debugging</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/tevents.jpg">
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde nostrum possimus facere labore recusandae iste,
            itaque quod nisi harum libero quae dolore, quos dolores necessitatibus reiciendis, inventore quaerat beatae fugiat
            blanditiis.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>REGISTER</button>
          <button md-button>MORE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexs>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Idea Express</md-card-title>
          <md-card-subtitle>Paper Presentation</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/tevents.jpg">
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde nostrum possimus facere labore recusandae iste,
            itaque quod nisi harum libero quae dolore, quos dolores necessitatibus reiciendis, inventore quaerat beatae fugiat
            blanditiis.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>REGISTER</button>
          <button md-button>MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Conquer It</md-card-title>
          <md-card-subtitle>Capture the Flag</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/tevents.jpg">
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde nostrum possimus facere labore recusandae iste,
            itaque quod nisi harum libero quae dolore, quos dolores necessitatibus reiciendis, inventore quaerat beatae fugiat
            blanditiis.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>REGISTER</button>
          <button md-button>MORE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div fxFlex>
      <md-card class="card">
        <md-card-header>
          <div md-card-avatar class="header-image"></div>
          <md-card-title>Dummy App</md-card-title>
          <md-card-subtitle>Mobile App Mock-Up</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/images/tevents.jpg">
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde nostrum possimus facere labore recusandae iste,
            itaque quod nisi harum libero quae dolore, quos dolores necessitatibus reiciendis, inventore quaerat beatae fugiat
            blanditiis.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>REGISTER</button>
          <button md-button>MORE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>