.app-full-width {
  width: 100%;
}

.app-alert {
  color: red;
  animation: 1s hintAnim forwards;
}

.container {
  width: 500px;
}

@keyframes hintAnim {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}